<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doorman</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 id="heading-bg">
        <a id="heading" href="/">Doorman</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a id="logout" href="/logout">Log out</a>
        {{else}}
        <a id="login" href="/login">Log in</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>

    Created by : Dylan Tipton, Jessica Mangiameli, Jamie de Lange , Andrew Ahler

    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>