<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doorman</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Doorman</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
<<<<<<< HEAD
    Created by : Dylan Tipton, Jessica Mangiameli, Jamie de Lange , Jared Bowser, Andrew Ahler
=======
    Created by: Dylan Tipton, Jessica Mangiameli, Jamie de Lange, Jared Bowser, Andrew Ahler
>>>>>>> 36efd082c5fd4faaca6d0563f5daa0e5daf722e7
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>