<table>
<thead>
  <tr>
            <th>Room #</th>
            <th>Patient Name</th>
            <th>COVID Positive [Y/N]</th>
            <th>Final Visit [Y/N]</th>
            <th>Visitor Name and Phone #</th>
  </tr>
</thead>
<tbody>
  {{#each patients}}
    <tr>
    	{{#each this}}
        <td class="tableField">{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>
<div id="add-div">
  <h2 id="form-header">Add a patient:</h2>
  <form id="add-patient-form">
    <label for="patient-room-number">Patient room number:</label>
    <input type="text" class="add-patient" id="patient-room-number"/>

    <label for="patient-name">Patient name:</label>
    <input type="text" id="patient-name"/>

    <label for="patient-covid-positive">COVID Positive (Y/N):</label>
    <input type="text" class="add-patient" id="patient-covid-positive"/>

    <label for="patient-final-visit">Final visit (Y/N):</label>
    <input type="text" class="add-patient" id="patient-final-visit"/>

    <button class="add-btn" type="submit">Submit</button>
  </form>
<h2 id="form-header">Add a visitor:</h2>
  <form id="add-visitor-form">
    <label for="visitor-name">Visitor name:</label>
    <input type="text" class="add-visitor" id="visitor-name"/>

    <label for="visitor-phone-number">Visitor phone number:</label>
    <input type="text" class="add-visitor" id="visitor-phone-number"/>
    
    <label for="visitor-room-number">Visitor room number:</label>
    <input type="text" class="add-visitor" id="visitor-room-number"/>

    <button class="add-btn" type="submit">Submit</button>
  </form>
</div>

<script src="javascript/add-patient.js"></script>
<script src="javascript/add-visitor.js"></script>