<table>
<thead>
  <tr>
            <th>Room #</th>
            <th>Patient Name</th>
            <th>Visitor Name and Phone #</th>
            <th>COVID Positive [Y/N]</th>
            <th>Final Visit [Y/N]</th>
  </tr>
</thead>
<tbody>
  {{#each patients}}
    <tr>
    	{{#each this}}
        <td class="tableField">{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>