<div id="login-div">
  <form id="login-form">
    <h2 id="login-form-title" class="login-field">Nurse login</h2>
    <div class="login-field">
      <label for="username-login">Username:</label>
      <input type="text" id="username-login" />
    </div>
    <div class="login-field">
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div id="login-form-btn">
      <button type="submit">Login</button>
    </div>
  </form>
</div>
<script src="/javascript/login.js"></script>